@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
}

<h1>All Employees</h1>
<br />
<br />

<a asp-controller="Employee" asp-action="Create" class="btn btn-primary">Add New Employee</a>
<br />
<br />

@if (Model.Any())
{
    <div class="row">
        @foreach (var employee in Model)
        {
            <div class="col-md-6">
                <div class="card mb-4" style="padding: 20px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="@employee.Image" class="img-fluid rounded-start" alt="Employee Image">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h4 class="card-title">@employee.Name</h4>
                                <p class="card-text" style="font-size: 1.1rem;">
                                    <strong>Address:</strong> @employee.Address<br />
                                    <strong>Active:</strong> @(employee.IsActive ? "Yes" : "No")
                                </p>
                                <a asp-controller="Employee" asp-action="Details" asp-route-id="@employee.Id" class="btn btn-warning" style="font-size: 1rem;"><i class="fas fa-eye"></i> Details</a>
                                <a asp-controller="Employee" asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-success" style="font-size: 1rem;"><i class="fas fa-edit"></i> Update</a>
                                <a asp-controller="Employee" asp-action="Delete" asp-route-id="@employee.Id" class="btn btn-danger" style="font-size: 1rem;"><i class="fas fa-trash"></i> Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="mt-4 alert alert-warning">
        <h1>There are no Employees :(</h1>
    </div>
}
